{% extends 'base.html.twig' %}

{% block body %}
	<div class="row topo">
        <div class="col-md-6">
            <img src="img/logo.png" onclick="irParaHome();" class="img-responsive pull-right" alt="Ache tudo!">
        </div>
        <div class="col-md-6">
            <form id="form" name="form" class="campo-busca" action="buscar">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control col-sm-10" name="q" placeholder="O que você está buscando?" value="{{q}}" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>Resultados da busca por "{{q}}"</h1>

        	{% if cadastros is empty %}
        		<p class="lead">Sem resultados para a busca.</p>
        	{% else %}
        		<div class="list-group">
            		{% for cadastro in cadastros %}
	            		<a href="ver/{{cadastro.id}}" class="list-group-item">
	    					<h4 class="list-group-item-heading">{{cadastro.titulo}}</h4>
	    					<p class="list-group-item-text">{{cadastro.descricao}}</p>
	  					</a>
            		{% endfor %}
        		</div>
        	{% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 rodape">
            <img src="img/logo2.png" alt="Ache tudo!">
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .topo {
            padding-top: 2.5rem !important;
            padding-bottom: 2.5rem !important;
            height: 150px !important;
        }

        .topo img {
        	cursor: pointer;
        }

        .campo-busca {
            width: 90% !important;
            padding-top: 2.5rem !important;
        }

        .rodape {
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#form").validate({
                rules: {
                    q: {
                        required: true
                    }
                },
                errorPlacement: function (error, element) {
  				}
            });
        });

        function irParaHome() {
            window.location.href = "/";
        }
    </script>
{% endblock %}
